
.item {
  >div {
    margin: 10px 0;
  }
  img, 
  video {
    border: 1px solid transparent;
    border-radius: 7px;
  }
  img {
    max-width: 150px;
    height: auto;
  }
  video {
    max-width: 100%;
    height: auto;
    border: 1px solid transparent;
    background: black;
  }
}
