
.main {
}

.project {
  & img {
    height: auto;
    border-radius: 5px;
    max-width: 150px;
  }
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 35px 0;
  .title {
    font-size: 17px;
    text-transform: uppercase;
  }
  .desc {
    font-weight: 400;
  }
}
