
.main {
}

.project {
  & img {
    height: auto;
    border-radius: 5px;
    max-width: 150px;
  }
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
  .title {
    font-size: 22px;
    text-transform: uppercase;
    a {
      color: var(--body-color);
    }
  }
  .desc {
    font-weight: 400;
  }
}
