
$timelineColor: rgb(241, 241, 241);

@mixin media {
  $p3: 550px;
  @media screen and (max-width: $p3) { @content; }
}

@mixin makeRelative { & { position: relative; } }

@mixin plainCircle($top) {
  @include makeRelative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: $top;
    left: -28px;
    background-color: $timelineColor;
  }
}

.experience {
  margin-left: 100px;
  border-left: 2px solid $timelineColor;
  a {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
  .item.workHistoryItem,
  .item.educationItem {
    @include plainCircle(6px);
    font-size: 24px;
    margin-bottom: 0;
  }
  .item.workHistoryItem {
    top: -14px;
  }
  .item {
    margin: 40px 20px;
  }
  .item:nth-child(2) {
    margin-top: 0;
  }
  .item:last-child {
    img {
      width: 65px;
      height: auto;
      margin-right: 20px;
    }
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .position {
    @include plainCircle(1px);
    font-weight: bold;
  }
  .duration {
    margin: 5px 0;
    font-weight: bold;
  }
  .resp {
    color: rgb(30, 30, 30);
    ul li {
      margin: 3.5px 0;
    }
  }
  @include media {
    margin-left: 0;
  }
}