
$timelineColor: rgb(140, 140, 140);

@mixin media {
  $p3: 550px;
  @media screen and (max-width: $p3) { @content; }
}

@mixin makeRelative { & { position: relative; } }

@mixin plainCircle($top) {
  @include makeRelative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: $top;
    left: -15px;
    background-color: $timelineColor;
  }
}

.experience {
  font-size: 24px;
  a {
    font-weight: bold;
  }
}