
@mixin media {
  $p3: 820px;
  @media screen and (min-width: $p3) { @content }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  @include media {
    text-align: left;
    flex-direction: row;
    font-size: 16px;
  }
  gap: 50px;
  .myface {
    img {
      border-radius: 50%;
    }
  }
  .telegram {
    display: flex;
    img {
      margin-top: -2px;
      margin-right: 5px;
      @include media {
        margin-top: -1px;
      }
    }
  }
}