$max-width: 550px;
.main {
  > * {
    margin: 20px 0;
  }
  li {
    list-style: none;
  }
  .me {
    padding-left: 10px;
    > div:first-child {
      margin: 0 !important;
    }
  }
  .flexWrapper {
    display: flex;
    > img {
      width: 90px;
      min-width: 90px;
      height: 90px;
      min-height: 90px;
    }
  }
  .occ {
    h2 {
      font-weight: var(--body-font-weight);
    }
  }
  .skill {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .workExperience {
    .list {
      margin-top: 0;
      li {
        margin: 3px 0;
      }
    }
    >ul>li {
      margin-top: 30px;
    }
  }
}
