$max-width: 550px;
.main {
  > * {
    margin: 20px 0;
  }
  li {
    list-style: none;
  }
  .me {
    padding-left: 10px;
  }
  .flexWrapper {
    display: flex;
    .name {
      font-size: 14px;
    }
    > img {
      width: 90px;
      min-width: 90px;
      height: 90px;
      min-height: 90px;
    }
    @media screen and (max-width: $max-width) {
      .name {
        font-size: 12px;
      }
    }
  }
  
  .occ {
    b {
      text-transform: uppercase;
      font-size: 11px;
    }
    h2 {
      font-weight: normal;
    }
  }

  .skill {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .workExperience {
    .list {
      margin-top: 0;
    }
    >ul>li {
      margin-top: 30px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
