.searchWrapper {
  height: 50px;
  position: relative;
}

.searchInput {
  position: absolute;
  padding: 6px 24px;
  border-radius: 10px;
  border: var(--search-input-border);
  outline: none;
  color: grey;
  font-size: 14px;
  background: transparent;
}

.searchSVG {
  position: absolute;
  top: 4px;
  left: -3px;
}