$control-point-1: 750px;
$control-point-2: 515px;
.items {
  > a {
    margin: 25px 0;
    display: block;
    overflow: hidden;
    cursor: pointer;
  }
}

.tag {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: var(--blog-tag-color);
  &.selected {
    color: rebeccapurple;
    font-weight: 600;
  }
}
.stats {
  margin: 20px 0;
}
.desc {
  margin: 20px 0;
}
.commentCount {
  margin-right: 10px;
  color: var(--blog-date-color);
  text-transform: lowercase;
}
.date {
  color: var(--blog-date-color);
  font-size: 11px;
}

.taglist {
  color: grey;
  font-size: 11px;
}

.title {
  font-size: 14px;
  color: var(--gistname-item-color);
}
.titleBig {
  font-size: 22px;
}

.author {
  font-size: 12px;
  color: var(--blog-author-color);
}
